# Backup files
*.bak
*.bak2
*.bak3

# VS Code
.vscode/

# Python cache
__pycache__/
*.pyc

# Environment
.env

# Ignore generated database only
adalyn_payments/db.sqlite3

# Ignore dump file
adalyntech_index_dump.txt

*.bak*
